{% load i18n %}
{% load static %}
<div id="game" class="page p-4">

  <h1>{% trans "Game" %}</h1>

  <div class="container-fluid d-flex flex-column align-items-center">

    <div class="d-flex score container text-center align-items-start justify-content-around">

      <div id="player1-container" class="col-4 mb-3">
        <div class="d-flex align-items-center justify-content-center">
          {% if context.user.user_id != 0 %}
            <img src="{{ "/media"|add:context.user.avatar_url }}" alt="{% trans "user profile picture" %}" height="32" id="photoPlayer1">
          {% else %}
            <img src="{% static 'images/face_48.svg' %}" alt="{% trans "user profile picture" %}" height="32" id="photoPlayer1">
          {% endif %}
          <p id="namePlayer1" class="ps-2 m-0 fs-4">{{ info.p1_name }}</p>
        </div>
        <p class="scorePlayer1 fs-1 mb-0">0</p>
      </div>

      <div id="player2-container" class="col-4 mb-3">
        <div class="d-flex align-items-center justify-content-center">
          <p id="namePlayer2" class="pe-2 m-0 fs-4">{{ info.p2_name }}</p>
          <img src="{% static 'images/face_48.svg' %}" alt="{% trans "user profile picture" %}" height="32" id="photoPlayer2">
        </div>
        <p class="scorePlayer2 fs-1 mb-0">0</p>
      </div>

    </div>

    <!-- Game is displayed inside game-container -->
    <div id="game-container" class="d-flex flex-column align-items-center justify-content-around">

      <div class="d-flex flex-row align-items-center justify-content-between" style="width: 80%; height 100px">
        <p> </p> {% comment %} keep for vertical alignement {% endcomment %}
      </div>

      <button id="startGame-button" class="btn btn-secondary rounded-0 fs-1 px-4">{% trans "Start" %}</button>

      <div id="keys-instructions" class="d-flex flex-row align-items-center justify-content-between" style="width: 80%;">
        <p id="keysPlayer1" class="fs-4">{% trans "keys" %}: <span></span></p>
        <p id="keysPlayer2" class="fs-4">{% trans "keys" %}: <span></span></p>
      </div>

    </div>
  </div>

</div>
