{% load i18n %}
<div id="login" class="page p-4">
  <div class="d-flex flex-column justify-content-center align-items-center ms-auto me-auto" style="width: 256px;">
    <h1 class="mb-3 align-self-start">{% trans "Log In" %}</h1>

    <!-- Normal login form -->
    <form method="post" action="{% url 'login' %}" class="w-100">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger fs-6 p-3">
          <div class="errorlist nonfield m-0 p-0">
            {{ form.non_field_errors.0 }}
          </div>
        </div>
      {% endif %}

      <div class="mb-3">
        <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}</label>
        {{ form.username }}
        <div class="text-danger fs-6">{{ form.username.errors }}</div>
      </div>

      <div class="mb-3">
        <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
        {{ form.password }}
        <div class="text-danger fs-6">{{ form.password.errors }}</div>
      </div>

      <button type="submit" class="btn btn-secondary w-100 mb-3">{% trans "Log In" %}</button>
    </form>

	<div id="config42login" hidden="true"
	data-client-id="{{ CLIENT_ID }}" 
	data-redirect-uri="{{ REDIRECT_URI }}"
	oauth-view-url="{% url 'oauth' %}"></div>

    <!-- Login with 42 button -->
    <button id="login-42-btn" class="btn btn-primary w-100 mb-3" onclick="loginButton42()">{% trans "Login with 42" %}</button>

    <!-- Link to Sign Up -->
    <p class="mt-4"><a href="{% url 'signup' %}" class="link-secondary">{% trans "Don't have an account?" %}</a></p>

  </div>
</div>
