{% load i18n %}
{% load static %}
<div class="container text-center mt-5 p-3 d-flex align-items-center justify-content-center flex-wrap" style="min-height: 60vh; background: #dadbdc; background: linear-gradient(to right, #747474, #333333); color: white; clip-path: ellipse(50vw 2000vh at 50% 50%); min-width: 500px;">

	  <div class="profile-page-details">
      <h1 class="my-4 align-self-start">{% trans "Profile page" %}</h1>
      
      {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="{{ user.username }}" style="height: 10rem; width: 10rem; object-fit: cover;
      border-radius: 50%; border: 2px solid #fff;">
      {% else %}
        <img src="{% static 'images/default-avatar.svg' %}" alt="{% trans "default icon" %}"
        style="height: 10rem; width: 10rem; object-fit: cover;
        border-radius: 50%; border: 2px solid #fff;">
      {% endif %}

      <h2 class="fs-4 my-3">{{ user.username }}</h2>

      <div class="d-flex justify-content-center align-items-center mb-4">
          <svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12 ,2Z"></path>
          </svg>
          <p class="ps-1 mb-0">{{ profile_data.city }}, {{ profile_data.country }}</p>
      </div>

      <div class="btn-group flex-wrap" style="justify-content: center;">
        <a href="{% url 'edit_profile' %}" onclick="navigate(event, '{% url 'edit_profile' %}')" class="btn btn-light mb-2 me-2" role="button" style="border-bottom-left-radius: unset; border-top-left-radius: unset">{% trans "Edit profile" %}</a>
        <a href="{% url 'user_profile' user.id %}" onclick="navigate(event, '{% url 'user_profile' user.id %}')" class="btn btn-light mb-2 me-2" role="button">{% trans "Stats" %}</a>
        <a href="{% url 'list_friends' %}" onclick="navigate(event, '{% url 'list_friends' %}')" class="btn btn-light mb-2" role="button" >{% trans "My friends" %}</a>
      
        <!-- This button will be below the others -->
        <button type="button" class="btn btn-light mb-2" data-bs-toggle="modal" data-bs-target="#inviteFriendModal" style="width: 100%; border-top-right-radius: unset; border-bottom-right-radius: unset;">
          {% trans "Invite a friend" %}
        </button>
      </div>

    </div>  
</div>

<!-- Modal -->
<div class="modal fade" id="inviteFriendModal" tabindex="-1" aria-labelledby="inviteFriendModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="profile-modal-content">
      <div class="modal-content" style="background-color: #333; color: #fff; border: 2px solid white;">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="inviteFriendModalLabel">{% trans "Let's invite a friend" %}</h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></button>
        </div>
        <div class="modal-body">
          <form method="post" id="type-invite-friend" action="{% url 'post_invite' %}">
            <label for="{{ form.username.id_for_label }}" class="col-form-label">{{ form.username.label }}</label>
            
            <!-- Input field for username -->
            <input type="text" id="usernameInput" class="form-control" name="username" autocomplete="off" aria-autocomplete="list">
            
            <!-- Dropdown list for suggestions -->
            <div id="suggestions-list" class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="display: none;">
              <!-- Suggestions will be populated here dynamically -->
            </div>
            
            {% csrf_token %}
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
              <button type="submit" id="submit-invite-friend" class="btn btn-light" data-bs-dismiss="modal">{% trans "Send invite" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .btn-light:hover {
      background-color: #dc3545; /* Dark background color */
      color: #fff; /* White text color */
      border-color: #343a40; /* Dark border color */
  }
</style>

