{% load i18n %}
{% load static %}

<div class="modal hide fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light"  style="background-color: #333; color: #fff; border: 2px solid white;">
      
      <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel">{% trans "Notification" %}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p id="messageContent" class="text-start fs-5">{% if message %}{{ message }}{% endif %}</p> 
      </div>

    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const message = "{{ message|escapejs }}";  // Escape JS in case of special characters
    if (message) {
      const messageModal = new bootstrap.Modal(document.getElementById('messageModal'));
      messageModal.show();
    }

    const messageModal = document.getElementById('messageModal');
    if (messageModal) {
      const modalInstance = bootstrap.Modal.getInstance(messageModal);
      if (modalInstance) {
        modalInstance.hide(); // Hide modal when navigating back
        document.querySelector('.modal-backdrop')?.remove();
        document.body.classList.remove('modal-open')
      }
    }

  });

  window.addEventListener('popstate', function () {
    // Close the modal on back navigation
    const messageModal = document.getElementById('messageModal');
    if (messageModal) {
      const modalInstance = bootstrap.Modal.getInstance(messageModal);
      if (modalInstance) {
        modalInstance.hide(); // Hide modal when navigating back
        document.querySelector('.modal-backdrop')?.remove();
        document.body.classList.remove('modal-open')
      }
    }
  });
</script>

