Django==4.2.16
# For PostgreSQL
psycopg2-binary==2.9.9
# For HTTP requests to other microservice APIs
requests==2.32.3 
# ASGI server for WebSockets
# daphne==4.1.2
uvicorn[standard]
# Channels for WebSockets
channels==4.1.0
# Image processing
pillow==10.4.0
# JWT
pyjwt
# 2FA
pyotp
qrcode[pil]
# For pretty logs
prettyprinter